#if ($phrase)
<h1>$phrase.getPhrase()<h1>
  #for each ($defnition in $phrase.getDefinitions())
    <ul>
      <li class="definitions">$definition.getDefinition()<li>
    </ul>
  #end
  <button class="btn btn-success" type"button" name="add-new-definition"><a class="button-link" href="/phrases/$phrase.getId()/definitions/new">Add a definition</a></button><br>

  < href="/">Home</a>

  #else
    <em><h4>That phrase does not yet exist in the dictionary</h4></em>
  #end
