<h1>Add a Military Phrase</h1>

<form action="/phrases/new" method="post">
    <label for="phrase">Military Phrase:</label>
    <input id="phrase" name="phrase" type="text">
  <button type="submit" class="btn btn-default">Add to Dictionary</button>
</form>

  <a href="/"><button class="btn btn=primary" type="button" name="return">Return</button></a>
