  <h1>$phrase.getPhrase()</h1>

#if ($phrase)
    <ul>
      #foreach ($definition in $phrase.getDefinitions())
        <li class="definitions">$definition.getDefinition()</li>
      #end
    </ul>
#else
  <h4>That phrase does not yet have a definition in the dictionary</h4>
#end

<button class="btn btn-success" type"button" name="add-new-definition"><a class="button-link" href="/phrases/$phrase.getId()/definitions/new">Add a definition</a></button>

<a href="/">Home</a>
